@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-controller="Home" asp-action="ImportExecl" enctype="multipart/form-data">
    
    <input type="file" name="execlFile" />
    
    <button type="submit">ارسال</button>

</form>

<a asp-controller="Home" asp-action="ExportExecl">دریافت فایل Excel</a>
